@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

header, section, footer, aside, nav, article, figure
{
    display: block;
}

body, textarea, select
{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif; 
}

textarea, select
{
    background-color: rgb(58, 58, 58);
	border: 2px rgb(48, 48, 48) solid;
    
}

body, select, h2
{
     font-size: 20px;
}

body
{
    background-color: rgb(28, 28, 28);
    margin: 0;
    padding: 2% 10% 0% 10%;
    font-family: 'Open Sans', sans-serif; 
}

p
{
    max-width: 1000px;
}

pre
{
    white-space: pre-wrap;
}

header
{
    border-bottom: 5px rgb(0, 70, 127) solid;
    /*background-color: rgb(0, 70, 127);*/
    font-size: 50px;
    font-weight: bold;
    /*text-shadow: 0px 0px 40px rgb(0, 0, 0);*/
    word-wrap: break-word;
    padding-bottom: 10px;
    margin-bottom: 20px;
} 

h1
{
    border-bottom: 5px rgb(103, 103, 103) solid;
    font-size: 30px;
}

h2
{
    border-bottom: 5px rgb(103, 103, 103) solid;
}

h3
{
    border-bottom: 3px rgb(0, 71, 128) solid;
}

nav
{
    border-bottom: 5px rgb(103, 103, 103) solid;
}

nav a
{
    line-height: 1.5;
}

#container
{
	/*background-color: rgb(18, 18, 18);*/
    height: 100%;
    position: relative;
}

#content
{
    /*padding-bottom: 65px; 
    padding-left: 170px;*/
    word-wrap: break-word;
}  

footer
{
    border-top: 5px rgb(0, 70, 127) solid;
    margin-top: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
    /*
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 3px;
    position: absolute; 
    bottom: 0;
    text-align: left;*/
}

ul.blog
{
    list-style: none;
}

img[alt = imageSize10Percent] 
{
    width: 10%;
    height: 10%;
}

img[alt = imageSize25Percent]
{
    width: 25%;
    height: 25%;
}

img[alt = imageSize50Percent] 
{
    width: 50%;
    height: 50%;
}

img[alt = imageSize75Percent] 
{
    width: 75%;
    height: 75%;
}

/* links */
img a
{
    text-decoration: none; 
}

a
{
    color: #006ee6;
    text-decoration: none; 
}

a:visited
{
    color: #006ee6;
}

a:hover
{
    color: #00Aee6;
}

a:active
{
    color: gray;
}

/* nav links */
nav a, nav a:visited
{
    /*background-color: rgb(58, 58, 58);*/
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 22px;
}

nav a:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(150, 150, 150);
    text-decoration: none;
}

nav a:active
{
    color: rgb(255, 255, 255);
    background-color: rgb(140, 140, 140);
}

/*nav a:not(:first-child)
{
    
}*/


/* table */
.divTable
{
    display: table;
}

.divTable-row
{
    display: table-row;
}

.divTable-cell
{
    display: table-cell;
    padding-right: 20px;
}

/* mobile */

@media (orientation: portrait)
{    
    header
    {
        font-size: 35px;
    }
    
    #content
    {
        padding-left: 0px;
    }
    
    nav
    {
        font-size: 20px;
        float: none;
        padding-left: 0px;
        border-left-style: none;
        border-bottom-style: solid;
    }
}
