@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

header, section, footer, aside, nav, article, figure {
	display: block;
}

body, textarea, input, select, button {
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
}

textarea, input, select, button {
	background-color: rgb(65, 65, 65);
	border: 2px rgb(36, 36, 36) solid;
	border-radius: 6px;
}

input[type=submit], input, #submit {
	padding: 10px 15px 10px 15px;
}

input {
	vertical-align: middle;
}

button:hover, input[type=submit]:hover {
	background-color: rgb(112, 112, 112);
	cursor: pointer;
}

button:active, input[type=submit]:active {
	background-color: rgb(59, 59, 59);
}

body, select, h2, input, #eml, button {
	font-size: 25px;
}

body {
	background-color: rgb(28, 28, 28);
	margin: 0;
	padding: 2% 20% 0% 20%;
	font-family: 'Open Sans', sans-serif;
}

p {
	max-width: 1000px;
}

pre {
	white-space: pre-wrap;
}

header {
	font-size: 50px;
	font-weight: bold;
	word-wrap: break-word;
	padding-bottom: 5px;
	margin-bottom: 20px;
	position: relative;
}

h1 {
	font-size: 30px;
}

h1, h2, h3 {
	position: relative;
}

nav {
	border-bottom: 5px rgb(103, 103, 103) solid;
}

nav a {
	line-height: 1.5;
}

#container {
	height: 100%;
	position: relative;
}

#content {
	word-wrap: break-word;
}

footer {
	margin-top: 15px;
	padding-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

hr {
	margin: 20px 0px 20px 0px;
}

hr.hr1 {
	border: 3px rgb(0, 70, 127) solid;
	border-radius: 5px;
}

hr.hr2 {
	border: 3px rgb(103, 103, 103) solid;
	border-radius: 5px;
}

footer::before, header::after, h1::after, h2::after, h3::after {
	border-radius: 5px;
	content: '';
	position: absolute;
	width: 100%;
	height: 6px;
	left: 0;
}

header::after, h1::after, h2::after, h3::after {
	top: 100%;
}

footer::before, header::after {
	background: rgb(0, 70, 127);
}

h1::after, h2::after {
	background: rgb(103, 103, 103);
}

h3::after {
	background: rgb(0, 71, 128);
}

footer::before {
	bottom: 100%;
}

#eml {
	background: none;
	border: none;
	padding: none;
}

ul.blog {
	list-style: none;
}

img[alt = imageSize10Percent] {
	width: 10%;
	height: 10%;
}

img[alt = imageSize25Percent] {
	width: 25%;
	height: 25%;
}

img[alt = imageSize50Percent] {
	width: 50%;
	height: 50%;
}

img[alt = imageSize75Percent] {
	width: 75%;
	height: 75%;
}

#eml {
	cursor: pointer;
}

/*******************************************
  Links
********************************************/
img a {
	text-decoration: none;
}

a, #eml {
	color: #006ee6;
	text-decoration: none;
}

a:visited {
	color: #006ee6;
}

a:hover {
	color: #00Aee6;
}

a:active {
	color: gray;
}

/*******************************************
  Table 
********************************************/

.divTable {
	display: table;
}

.divTable-row {
	display: table-row;
}

.divTable-cell {
	display: table-cell;
	padding-right: 20px;
}

/*******************************************
  Mobile 
********************************************/

@media (orientation: portrait) {

	header {
		font-size: 35px;
	}

	body {
		padding: 2% 10% 0% 10%;
	}

	#content {
		padding-left: 0px;
	}

	nav {
		font-size: 20px;
		float: none;
		padding-left: 0px;
		border-left-style: none;
		border-bottom-style: solid;
	}
}
